<div class="page-wraper"> 
      
      <!-- HEADER START -->
      <app-header1></app-header1>
      <!-- HEADER END -->
      
      <!-- CONTENT START -->
      <div class="page-content">        
         
          <app-specialization1 [data]="our_specialization_section"></app-specialization1>
           

      </div>
      
      <!-- CONTENT END -->
      
      <!-- FOOTER START -->
      <app-footer1></app-footer1>
      <!-- FOOTER END -->

      <!-- BUTTON TOP START -->
  <app-scroll-to-top></app-scroll-to-top>
      
   
  </div>

<!-- LOADING AREA START ===== -->
<app-loading></app-loading>