<footer class="site-footer footer-large  footer-light	footer-wide text-black">
  
  <!-- FOOTER BLOCKES START -->  
  <div class="footer-top overlay-wraper">
      <div class="overlay-main"></div>
      
      
     
      
      <div class="container">
          <div class="row">
              <!-- ABOUT COMPANY -->
              <h3>{{ 'peu.titol' | translate }}</h3>

              <div class="col-lg-5 col-md-5 col-sm-4">  
                  <div class="widget widget_services inline-links">
                      <h4 class="widget-title">{{ 'peu.montsia' | translate }}</h4>
                      <ul>
                        <li>{{ 'peu.municipisMontsia.alcanar' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.amposta' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.freginals' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.laGalera' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.laRapita' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.laSenia' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.godall' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.masBarberants' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.masdenverge' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.santJaume' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.santaBarbara' | translate }}</li>
                        <li>{{ 'peu.municipisMontsia.ulldecona' | translate }}</li>
                    </ul>
                  </div>
              </div> 

              <!-- TAGS -->
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="widget widget_services inline-links">
                      <h4 class="widget-title">{{ 'peu.baixEbre' | translate }}</h4>
                      <ul>
                          <li>{{ 'peu.municipisBaixEbre.aldea' | translate }}</li>
                          <li>{{ 'peu.municipisBaixEbre.aldover' | translate }}</li>
                          <li>{{ 'peu.municipisBaixEbre.alfara' | translate }}</li>
                          <li>{{ 'peu.municipisBaixEbre.ametlla' | translate }}</li>
                          <li>{{ 'peu.municipisBaixEbre.ampolla' | translate }}</li>
                          <li>{{ 'peu.municipisBaixEbre.camarles' | translate }}</li>
                          <li>{{ 'peu.municipisBaixEbre.deltebre' | translate }}</li>
                          <li>{{ 'peu.municipisBaixEbre.perello' | translate }}</li>
                          <li>{{ 'peu.municipisBaixEbre.roquetes' | translate }}</li>
                          <li>{{ 'peu.municipisBaixEbre.tortosa' | translate }}</li>
                      </ul>
                  </div>
              </div>
                                      
              <!-- USEFUL LINKS -->
              <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="widget widget_services inline-links">
                      <h4 class="widget-title">{{ 'peu.baixMaestrat' | translate }}</h4>
                      <ul>
                        <li>{{ 'peu.municipisBaixMaestrat.alcala' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.benicarlo' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.calig' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.canet' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.laJana' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.penyiscola' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.rosell' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.santJordi' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.santMateu' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.santRafelRiu' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.traiguera' | translate }}</li>
                        <li>{{ 'peu.municipisBaixMaestrat.vinaros' | translate }}</li>
                    </ul>
                  </div>                           
              </div>      

              <!-- NEWSLETTER -->

          </div>
          <div class="m-b10">
              <div class="wt-divider bg-gray-dark"><i class="icon-dot c-square"></i></div>
          </div>
      </div>
  </div>
  <!-- FOOTER COPYRIGHT -->
  <div class="footer-bottom overlay-wraper">
      <div class="overlay-main"></div>
      <div class="container">
          <div class="row">
              <div class="wt-footer-bot-center">
                  <span class="copyrights-text">© {{ anyCopyright }} {{ 'venturaSimo' | translate }}</span>
              </div>
          </div>
      </div>
  </div>
</footer>