<header class="site-header header-style-1  nav-wide">
  
  <div class="sticky-header main-bar-wraper">
      <div class="main-bar bg-white p-t5">
          <div class="container clearfix">
            <div class="header-center">
                  <div class="wt-header-left">
                      <!-- Header left -->
                          <ul class="list-unstyled e-p-bx">
                              <li><i class="fa fa-envelope m-r10 text-primary"></i>{{ 'contacte.correuElectronic' | translate }}</li>
                              <li><i class="fa fa-phone m-r10 text-primary"></i>{{ 'contacte.telefon' | translate }}</li>
                          </ul>
                      </div>
                  <div class="wt-header-center">
                      <div class="logo-header">
                          <div class="logo-header-inner logo-header-one">
                              <a routerLink="/index">
                                  <img src="assets/images/venturasimo.png" width="171" height="49" alt="" />
                              </a>
                          </div>
                      </div>
                  </div>                                          
                  <div class="wt-header-right">

                      <!-- ETRA Nav -->
                      <div class="extra-nav" (show)="currentLang != 'ca'">
                          <div class="extra-cell">
                              <a (click)="canviarIdioma('ca')" class="site-search-btn">Català<i class="fa fa-language text-primary m-l10"></i></a>
                          </div>
                       </div>
                      <!-- ETRA Nav -->
                      <div class="extra-nav" (show)="currentLang != 'es'">
                          <div class="extra-cell">
                              <a (click)="canviarIdioma('es')" class="site-menu-share">Castellano<i class="fa fa-language text-primary m-l10"></i></a>
                          </div>
                       </div>
                       
                      <!-- ETRA Nav -->
                      <div class="extra-nav">
                        <div class="extra-cell">
                              <div class="menu-btn">
                                  <button type="button" class="btn-open"></button>
                              </div>
                          </div>
                       </div>                         
                       <!-- ETRA Nav -->                                  
                                                                               
                  </div>
              </div>                         
              
              <div class="full-menu">
                  <button type="button" class="full-menu-close"></button>
                  <!-- ETRA Nav   ======= --> 
                      <div class="vertical-content-wrap">
                          <div class="vertical-centered">
                              <!-- MAIN Vav -->
                              <div class="vertical-nav">
                                  <app-nav-links></app-nav-links>
                              </div>
                          </div> 
                      </div>
                  <!-- ETRA Nav  END ==== -->                               
              </div> 

          </div>
      </div>
  </div>
  
</header>